<!doctype html>
<html ng-app='ticketApp'>

  <head>
    <script src='js/angular.js'></script>
    <script src='js/app.js'></script>
    <link rel="stylesheet" href="../shared_css/normalize.css">
    <link rel="stylesheet" href="../shared_css/style.css">
    <title>Ticket Tracker Demo in Angular</title>
  </head>
  <body>
    <div id="wrap">
      <h1>Ticket Tracker Demo: Angular</h1>
      <div ng-controller='TicketsController'>
        <input ng-model='new_name' placeholder='Ticket Name'>
        <input ng-model='new_priority' placeholder='Priority'>
        <button type='submit' ng-click="add()">Add</button>
        <table>
          <tr>
            <th>Task</th>
            <th>Priority</th>
            <th>Tools</th>
          </tr>
          <tr ng-repeat="ticket in tickets">
            <td>
              {{abbreviation(ticket)}}
              {{ticket.name}}
            </td>
            <td class="priority">{{ticket.priority}}</td>
            <td></td>
          </tr>
          <tr class='total'>
            <td colspan='3' total>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>




